<h3>The Most Popular Articles</h3>
<div class="row">
  <div class="span12">
    <ul class="thumbnails">
      <% @top3.each do |article| %>
        <li class="span4">
          <div class="thumbnail">
            <p style="overflow:hidden; max-height:200px">
              <%= link_to image_tag(article.image.url(:medium), :style => "width:100%; border-radius:3px"), article_path(article) %>
            </p>
            <%= link_to article.title, article_path(article) %>
            <p>Viewed <%=  pluralize(article.views, 'time') %></p>
          </div>
        </li> 
      <% end %>
    </ul>
  </div>
</div>

<h3>Recent Articles</h3>

<div class="row">
  <div class="span12">
    <ul class="thumbnails">
      <% @articles.each do |article| %>
        <li class="span4">
          <div class="thumbnail">
            <p style="overflow:hidden; max-height:200px">
              <%= link_to image_tag(article.image.url(:medium), :style => "width:100%; border-radius:3px"), article_path(article) %>
            </p>
            <%= link_to article.title, article_path(article) %>
            <p>Viewed <%=  pluralize(article.views, 'time') %></p>
          </div>
        </li> 
      <% end %>
    </ul>
  </div>
</div>
<%= render partial: "layouts/nav_footer_index" %>
