<div class="row">
  <div class="span6 offset2">
    <h2><%= @article.title %></h2>
    <% if @article.image? %>
      <p><%= image_tag @article.image.url, class: "img-polaroid" %></p>
    <% end %>
    <p><%= raw(@article.body) %></p>
  </div>
  <div class="span2">
    <p class="well well-small">
      Tags:
      <% @article.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag) %>
      <% end %>
    </p>
  </div>
</div>
<hr>

<div class="row">
  <div class="span2">
    <%= render partial: 'comments/form' %>
  </div>
  <div class="span6 well well-small", style="background:white; border:none; box-shadow:none">
    <p style="font-size:20px"><strong>Comments (<%= @article.comments.size %>)</strong></p>
    <%= render partial: 'articles/comment', collection: @article.comments %>
  </div>
</div>

<%= render partial: "layouts/nav_footer_show" %> 
